* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  margin: auto;
  text-align: center;
  width: 960px;
}

.todo-item {
  display: flex;
  gap: 10px;
}

.form-container {
  visibility: hidden;
}
